.auto-complete {
  top: 100px;
  right: 34px;
  height: 100px;
  opacity: inherit;
  transition: all 1s;
}
.auto-complete-off {
  top: 100px;
  right: 34px;
  height: 0;
  opacity: 0;
  visibility:hidden
}